<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Angular Directive Cookie.</title>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.css"/>

    <script type="text/javascript" src="src/rc-consent.js"></script>
    <script type="text/javascript" id="rcc_consent_GA">
        window.addEventListener("load", function() {
            window.rcc.addProvider({
                id: 'UA-XXXXX-Y',
                anonymizeIp: true,
                load: function() {
                    if (typeof ga !== 'undefined') { return false; }
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ // jshint ignore:line
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), // jshint ignore:line
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) // jshint ignore:line
                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                },
                onInitialise: function (provider, status) {
                    console.log('GA Consent init');

                    if (this.hasConsented(provider.category)) {
                        console.log('hasConsented: true');
                    }
                    else {
                        console.log('hasConsented: false');
                    }
                },
                onAllow: function (provider) {
                    console.log('GA consent allow:' + provider.category);

                    if (this.hasConsented(provider.category)) {
                        console.log('hasConsented ' + provider.category + ': true');

                        provider.load();
                        ga('create', this.id, 'auto');
                        ga('set', 'anonymizeIp', this.anonymizeIp);
                        ga('send', 'event', 'Cookie Consent', 'Accepted');
                        ga('send', 'pageview');
                    }
                    else {
                        console.log('hasConsented ' + provider.category + ': false');
                    }
                },
                onStatusChange: function () {
                    provider.load();

                    ga('create', cookieConsent.options.gaPropertyId, {'storage': 'none'});
                    ga('send', 'event', 'Cookie Consent', 'Declined');
                }
            });
        });
    </script>
    <script type="text/javascript" id="rcc_consent_ADS">
        window.addEventListener("load", function() {
            window.rcc.addProvider({
                category: 'marketing',
                onInitialise: function (provider, status) {
                    console.log('ADS Consent init');

                    if (this.hasConsented(provider.category)) {
                        console.log('hasConsented: true');
                    }
                    else {
                        console.log('hasConsented: false');
                    }
                },
                onAllow: function (provider) {
                    console.log('ADS consent allow:' + provider.category);

                    if (this.hasConsented(category)) {
                        console.log('hasConsented ' + provider.category + ': true');
                    }
                    else {
                        console.log('hasConsented ' + provider.category + ': false');
                    }
                }
            });
        });
    </script>
    <script>
        window.addEventListener("load", function() {
            window.rcc.initialise({cookie: {name: 'consent'}});
        });
    </script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-cookies.js"></script>
    <script type="text/javascript" src="vendors/rc-cookies.js"></script>
    <script type="text/javascript">
        'use strict';

        var app = angular.module('app', ['ngCookies', 'rcCookies']);

        app.controller('mainCtrl', ['$scope', function ($scope) {

        }]);
    </script>
</head>

<body data-ng-app="app" >
<!--[if lt IE 9]>
<div class="alert alert-warning browserupgrade">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->
<main>
    <div data-ng-controller="mainCtrl as main">
        <br>
        <div class="row">
            <div class="small-12 medium-6 columns medium-centered">
                <section class="card">
                    <header class="card-divider">
                        <h4 class="page-header">Declarative Cookie Form</h4>
                    </header>
                    <form novalidate data-ng-init="main.$cookie=('consent' | getCookie);" data-ng-submit="main.isSubmit=true; main.$cookie=('consent' | getCookie);" name="cookieForm" class="card-section cookie-form" rc-cookie="consent" rc-cookie-fields="main.$cookieFields" rc-cookie-days="2">
                        <div class="callout alert" data-ng-if="cookieForm.$invalid && main.isSubmit">
                            <span>Check required fields</span>
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-ng-click="main.isSubmit=false;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <p>{{main.$cookieFields | json}}</p>
                        <div class="callout success" data-ng-if="cookieForm.$valid && main.isSubmit">
                            <span>Submitted valid</span>
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-ng-click="main.isSubmit=false;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <label>
                            <input type="checkbox" data-ng-change="main.isSubmit=false;" data-ng-model="main.$cookieFields.analytics" class="cookie-field" placeholder="Search">
                            Analytics
                        </label>
                        <label>
                            <input type="checkbox" data-ng-change="main.isSubmit=false;" data-ng-model="main.$cookieFields.marketing" class="cookie-field">
                            Marketing
                        </label>

                        <fieldset>
                            <button type="submit" class="button primary">Accept</button>
                            <button type="button" class="button alert" data-ng-click="main.isSubmit=false; main.$cookie=(null | setCookie:'consent');">Remove Cookie</button>
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="small-12 medium-6 columns medium-centered">
                <div class="callout success" data-ng-if="main.$cookie">
                    <h4>Cookie "consent" exist in your browser</h4>
                    <span>{{main.$cookie | json}}</span>
                </div>
                <div class="callout alert" data-ng-if="!main.$cookie">
                    <h4>Cookie "consent" not exist in your browser</h4>
                    <span>{{main.$cookie | json}}</span>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>