<!doctype html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Angular Directive Cookie.</title>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.css"/>

    <script type="text/javascript" src="src/rc-consent.js"></script>
    <script type="text/javascript" id="rcc_consent_GA">
        window.addEventListener("load", function() {
            window.rcc.addProvider({
                id: 'ga',
                trackingId: 'UA-XXXXX-Y',
                anonymizeIp: true,
                load: function() {
                    if (typeof ga !== 'undefined') { return false; }
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                },
                onInitialise: function (rcc, status) {
                    console.log('GA Consent init');

                    if (rcc.hasConsented(this.category)) {
                        console.log('hasConsented: true');
                    }
                    else {
                        console.log('hasConsented: false');
                    }
                },
                onAllow: function (rcc) {
                    console.log('GA consent allow:' + this.category);

                    this.load();
                    ga('create', this.trackingId, 'auto');
                    ga('set', 'anonymizeIp', this.anonymizeIp);
                    ga('send', 'event', 'Cookie Consent', 'Accepted');
                    ga('send', 'pageview');
                },
                onRevoke: function (rcc) {
                    console.log('GA consent revoke:' + this.category);

                    this.load();

                    ga('create', this.id, {'storage': 'none'});
                    ga('send', 'event', 'Cookie Consent', 'Declined');
                }
            });
        });
    </script>
    <script type="text/javascript" id="rcc_consent_ADS">
        window.addEventListener("load", function() {
            window.rcc.addProvider({
                id: 'ads',
                category: 'marketing',
                onInitialise: function (rcc, status) {
                    console.log('ADS Consent init');

                    if (rcc.hasConsented(this.category)) {
                        console.log('hasConsented: true');
                    }
                    else {
                        console.log('hasConsented: false');
                    }
                },
                onAllow: function (rcc) {
                    console.log('ADS consent allow:' + this.category);
                },
                onRevoke: function (rcc) {
                    console.log('ADS consent revoke:' + this.category);
                }
            });
        });
    </script>
    <script type="text/javascript" id="rcc_consent_hotjar">
        window.addEventListener("load", function() {
            window.rcc.addProvider({
                id: 'hotjar',
                category: 'required',
                load: function () {
                    (function(h,o,t,j,a,r){
                        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                        h._hjSettings={hjid:1070708,hjsv:6};
                        a=o.getElementsByTagName('head')[0];
                        r=o.createElement('script');r.async=1;
                        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                        a.appendChild(r);
                    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
                },
                onInitialise: function (rcc, status) {
                    console.log('HOTJAR Consent init');

                    if (rcc.hasConsented(this.category)) {
                        console.log('hasConsented: true');
                    }
                    else {
                        console.log('hasConsented: false');
                    }
                },
                onAllow: function (rcc) {
                    console.log('HOTJAR consent allow:' + this.category);

                    this.load();
                },
                onRevoke: function (rcc) {
                    console.log('HOTJAR consent revoke:' + this.category);
                }
            });
        });
    </script>
    <script>
        window.addEventListener("load", function() {
            window.rcc.initialise({formIds: ['consent_form'], clickSelector: '.rcc-consent-button', cookie: {name: 'consent'}, defaultStatus: {required: true}});
        });
    </script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-cookies.js"></script>
    <script type="text/javascript" src="vendors/rc-cookies.js"></script>
    <script type="text/javascript">
        'use strict';

        var app = angular.module('app', ['ngCookies', 'rcCookies']);

        app.controller('mainCtrl', ['$scope', function ($scope) {

            var main = this;

            main.setConsent = function(args){

                //var evt = new Event("rccSetConsent");
                //document.dispatchEvent(evt);

                rcc.setConsent();
            };
        }]);
    </script>
</head>

<body data-ng-app="app" >
<!--[if lt IE 9]>
<div class="alert alert-warning browserupgrade">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->
<main>
    <div data-ng-controller="mainCtrl as main">
        <br>
        <div class="row">
            <div class="small-12 medium-6 columns medium-centered">
                <section class="card">
                    <header class="card-divider">
                        <h4 class="page-header">Declarative Cookie Form</h4>
                    </header>
                    <form id="consent_form" novalidate data-ng-init="main.$cookie=('consent' | getCookie);" data-ng-submit="main.isSubmit=true; main.$cookie=('consent' | getCookie);" name="consentForm" class="card-section cookie-form" rc-cookie="consent" rc-cookie-fields="main.$cookieFields" rc-cookie-days="2">
                        <div class="callout alert" data-ng-if="cookieForm.$invalid && main.isSubmit">
                            <span>Check required fields</span>
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-ng-click="main.isSubmit=false;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="callout success" data-ng-if="cookieForm.$valid && main.isSubmit">
                            <span>Submitted valid</span>
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-ng-click="main.isSubmit=false;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <label data-ng-repeat="(key, value)  in main.$cookieFields">
                            <input type="checkbox" name="{{key}}" data-ng-change="main.isSubmit=false;" data-ng-model="main.$cookieFields[key]" class="cookie-field" placeholder="Search">
                            <span data-ng-switch="key">
                                <span ng-switch-when="required">Required</span>
                                <span ng-switch-when="analytics">Analytics</span>
                                <span ng-switch-when="marketing">Marketing</span>
                                <span ng-switch-default>{{key}}</span>
                            </span>
                        </label>

                        <fieldset>
                            <input type="submit" class="button primary" value="Accept">
                            <button type="button" class="button alert" data-ng-click="main.isSubmit=false;">Remove Cookie</button>
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="small-12 medium-6 columns medium-centered">
                <section class="card">
                    <header class="card-divider">
                        <h4 class="page-header">Declarative Cookie Form</h4>
                    </header>
                    <br>
                        <button type="button" class="button float-center primary" data-ng-click="main.setConsent();" >Accept</button>
                    <button type="button" class="button float-center primary rcc-consent-button" >Accept</button>
                    <br>
                </section>
            </div>
        </div>
    </div>
</main>
</body>
</html>